<mat-sidenav-container>

        <mat-sidenav [opened]="false" #sidenav role="navigation">
            <mat-accordion>
                <mat-expansion-panel style="margin-right: 5px">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Explore
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel style="margin-right: 5px" *ngIf="userTypeId==1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Candidates
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-menu-item (click)="onBrowseJob()">Browse Jobs</button>
                    <button mat-menu-item (click)="onBrowseCompaies()">Browse Companies</button>
                    <button mat-menu-item (click)="onPostResume()">Post a Resume</button>

                </mat-expansion-panel>
                <mat-expansion-panel style="margin-right: 5px" *ngIf="userTypeId==2">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Employers
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a href=""></a>
                    <button mat-menu-item (click)="onFindCandidate()">Find Candidate</button>
                    <button mat-menu-item (click)="onPostJob()">Post a Job</button>


                </mat-expansion-panel>
                <mat-expansion-panel style="margin-right: 5px" *ngIf="userTypeId==0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Login/Sinup
                        </mat-panel-title>
                        <button mat-menu-item (click)="onLogin()">Login</button>
                        <button mat-menu-item (click)="onSignUp()">SignUp</button>
                    </mat-expansion-panel-header>
                    <a href=""></a>

                </mat-expansion-panel>
                <button *ngIf="userTypeId==1 || userTypeId==2" mat-button fxFlexAlign="end" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> LogOut</button>

            </mat-accordion>

        </mat-sidenav>


    <mat-sidenav-content >
        <mat-toolbar color="primary" fxLayout="row" class="fixed-header">
            <div>
                <button (click)="sidenav.toggle()" f style="background-color: #673ab7; border: none; color: white"
                        fxHide fxShow.lt-sm>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div><a [routerLink]="['/home   ']">
                <img style="width: 50px" src="http://res.cloudinary.com/visaltrano/image/upload/v1551155624/kwxmhibwtfsodublzh5y.jpg">
            </a></div>
            <div fxHide fxShow.gt-sm>
                <button mat-button [matMenuTriggerFor]="explore">Explore
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="candidates"  *ngIf="userTypeId==1">Candidates
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <button *ngIf="userTypeId==2" mat-button [matMenuTriggerFor]="employers">Employers
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <button *ngIf="userTypeId==0" mat-button [matMenuTriggerFor]="login">Login/SignUp</button>
                <button *ngIf="userTypeId==1 || userTypeId==2" mat-button fxFlexAlign="end" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> LogOut</button>

                <!--Explore List-->
                <mat-menu #explore="matMenu">
                    <span class="menu-title">BROWSE BY</span>
                    <button mat-menu-item [matMenuTriggerFor]="category">Category</button>
                    <button mat-menu-item [matMenuTriggerFor]="companies">Companies</button>
                </mat-menu>
                <mat-menu #login="matMenu">

                    <button mat-menu-item (click)="onLogin()">Login</button>
                    <button mat-menu-item (click)="onSignUp()">SignUp</button>
                </mat-menu>

                <!--Candidate List-->
                <mat-menu #candidates="matMenu">
                    <button mat-menu-item (click)="onBrowseJob()">Browse Jobs</button>
                    <button mat-menu-item (click)="onBrowseCompaies()">Browse Companies</button>
                    <button mat-menu-item (click)="onPostResume()">Post a Resume</button>
                    <button mat-menu-item (click)="onManageResume()">Manage a Resume</button>
                </mat-menu>
                <!--Employers List-->
                <mat-menu #employers="matMenu">
                    <button mat-menu-item (click)="onFindCandidate()">Find Candidate</button>
                    <button mat-menu-item (click)="onPostJob()">Post a Job</button>
                    <button mat-menu-item (click)="onManageJob()">Manage a Job</button>
                </mat-menu>
                <mat-menu #category="matMenu">
                    <span class="menu-title">All Categories</span>
                    <button mat-menu-item>Human Resource</button>
                    <button mat-menu-item>Design & Architecture</button>
                    <button mat-menu-item>Education & Training</button>
                    <button mat-menu-item>Engineering</button>
                    <button mat-menu-item>Finance & Accounting</button>
                </mat-menu>
                <!---->
                <mat-menu #companies="matMenu">
                    <span class="menu-title">All Companies</span>
                    <button mat-menu-item>Apple</button>
                    <button mat-menu-item>Basecamp</button>
                    <button mat-menu-item>Cloudsmith</button>
                </mat-menu>
                <mat-menu #types="matMenu">
                    <span class="menu-title">All Types</span>
                    <button mat-menu-item>Freelance</button>
                    <button mat-menu-item>Full Time</button>
                    <button mat-menu-item>Internship</button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <main style="margin-top: 50px" >
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
