<!--
<mat-sidenav-container>
    <mat-sidenav >
        <mat-toolbar>

            <mat-toolbar-row>
                <div class="container">
                    <span>Application Title</span>
                    <button mat-button [matMenuTriggerFor]="explore">Explore</button>

                    <mat-menu #explore="matMenu" >
                        <button mat-menu-item [matMenuTriggerFor]="category">Category</button>
                        <button mat-menu-item [matMenuTriggerFor]="company">Company</button>
                        <button mat-menu-item [matMenuTriggerFor]="tag">Tag</button>
                        <button mat-menu-item [matMenuTriggerFor]="type">Type</button>


                    </mat-menu>

                    <mat-menu #category="matMenu" class="sub-menu">
                        <button mat-menu-item>Human Resource</button>
                        <button mat-menu-item>Design& Architecture</button>
                        <button mat-menu-item>Education& Training</button>
                        <button mat-menu-item>Engineering</button>
                        <button mat-menu-item>View All Category</button>

                    </mat-menu>
                    <mat-menu #company="matMenu">
                        <button mat-menu-item>Human Resource</button>
                        <button mat-menu-item>Design& Architecture</button>
                        <button mat-menu-item>Education& Training</button>
                        <button mat-menu-item>Engineering</button>

                    </mat-menu>
                    <mat-menu #tag="matMenu">
                        <button mat-menu-item>Human Resource</button>
                        <button mat-menu-item>Design& Architecture</button>
                        <button mat-menu-item>Education& Training</button>
                        <button mat-menu-item>Engineering</button>

                    </mat-menu>
                    <mat-menu #type="matMenu">
                        <button mat-menu-item>Human Resource</button>
                        <button mat-menu-item>Design& Architecture</button>
                        <button mat-menu-item>Education& Training</button>
                        <button mat-menu-item>Engineering</button>

                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="candidate">Candidate</button>
                    <mat-menu #candidate="matMenu">
                        <button mat-menu-item>Browse Jobs </button>
                        <button mat-menu-item>Browse Companies</button>
                        <button mat-menu-item>Explore Jobs</button>
                        <button mat-menu-item>Submit Resume</button>
                        <hr>
                        <span>Dashboard</span>
                        <button mat-menu-item>Manage Resumes</button>
                        <button mat-menu-item>Manage Application</button>
                        <button mat-menu-item>Manage Applications</button>
                        <button mat-menu-item>Manage Alerts</button>

                    </mat-menu>

                    <button mat-button [matMenuTriggerFor]="employers">Employers</button>
                    <mat-menu #employers="matMenu">
                        <button mat-menu-item>Find Candidate</button>
                        <button mat-menu-item>Post A Job</button>
                        <hr>
                        <span>Dashboard</span>
                        <button mat-menu-item>Manage Jobs</button>
                        <button mat-menu-item>Manage Applications</button>
                        <button mat-menu-item>Manage Bookmarks</button>
                        <button mat-menu-item>Manage Alerts</button>

                    </mat-menu>

                    <button mat-button [matMenuTriggerFor]="web_pages">Pages</button>
                    <mat-menu #web_pages="matMenu">
                        <button mat-menu-item>News</button>
                        <button mat-menu-item>Pricing</button>
                        <button mat-menu-item>Contact</button>
                        <button mat-menu-item>Privacy Policy</button>
                        <hr>
                        <span>External</span>
                        <button mat-menu-item>Documentation</button>

                    </mat-menu>
                </div>
            </mat-toolbar-row>

        </mat-toolbar>
    </mat-sidenav>

</mat-sidenav-container>
-->
