mat-sidenav{
    width: 300px;
}
.menu-title{
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b2b2b2;
    padding: 11px 14px 3px 14px;
    margin: 2px 22px 5px 22px;
}
.fixed-header {
    top: 0;
    position: fixed;
    z-index:999;

}