.content{
    width: 100%;
    height: 100%;
}
.compact-sidebar{
    border-right: 1px solid #e8e8e9;
    display: block;
    background: url("https://demo.wpscouts.net/capstone/wp-content/themes/capstone/images/job-bg-pattern.png");
    height: 100vh;


}
@media only screen and (max-width: 599px) {
    .compact-sidebar{
        height: fit-content;
        max-height: 100vh;

    }
}


.dashboard-logo{
    padding: 60px;
    height: 50px;

}
.page-header {
    line-height: 1.2;
    padding-right: 30px;
    padding-left: 30px;


}
.page-header .primary{

    font-family: "Roboto",sans-serif;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -.5px;
    margin: 0 0 10px 0;
}
.page-header  .secondary {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #929292;
    padding-right: 20px;
}
.inner{
    margin: 0;
}
.dashboard-logo img{
    width: 34px;

}
.compact-body{
    margin: 10px 10%;


}
mat-form-field{
    margin-right: 10px;
}
mat-checkbox{
    margin-bottom: 10px;
}