* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.content {
    font-family: "Open Sans", sans-serif;
}

.application-deadline {
    background: #7dc146;
    color: white;
    height: 50px
}

.inner-body {

}

.page-sidebar {
    background-color: aqua;
}

.job-details {
    background-color: blue;
}

.job-details .job-header .left {
    margin-right: 30px;
}

.heading {
    display: flex;
}

.job-header .heading .title {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 10px 0;
}
 .type{
     align-self: center;
     margin-left: 20px;
     font-size: 14px;
     border-radius: 3px;
     padding: 1px 7px;
     color: #FFF;
     background: #1d1d1d!important;
}
ul.meta-info {
    font-size: 1.2rem;
     display: -ms-flexbox;
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
    align-self: center;
    background-color: #7dc146;
 }
 ul.meta-info li.company {
    font-weight: 600;
    color: #00acee;
     margin-right: 15px;
}
ul.meta-info li.location  {
    cursor: pointer ;
}
ul.meta-info li.location mat-icon {
  font-size: 1rem;
}