<div fxLayout="column">
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="30">
      <h4 class="title-footer">SAY HELLO</h4>
      <p>Wants to get in touch? Lets boogie.
        <a href="realroza88@gmail.com">realroza88@gmail.com</a>
      </p>
    </div>
    <div fxLayout="column" fxFlex="30">
      <h4 class="title-footer">OUR OFFICE</h4>
      <p>121 4th Avenue, 2020 Phnom Penh, (541) 754-3010
      </p>
    </div>
    <div class="widget" fxLayout="row" fxFlex="40" fxLayoutAlign="center">
      <ul fxFlex="30">
        <li><a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="www.twiter.com"><i class="fab fa-twitter"></i></a></li>
        <li><a href="www.instagram.com"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row">
    <div fxFlex="35">
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Term of Service</a></li>
        <li><a href="#">Advertise with Us</a></li>
      </ul>
    </div>
    <div fxFlex="30"></div>
    <div class="copy-right" fxFlex="35">
      <p>
        Made with <i class="far fa-heart"></i> by Visal
        <i class="far fa-copyright"></i> All right reserved
      </p>
    </div>
  </div>
</div>
